body {
  font-family: 'Roboto:400', sans-serif;
  color: #484848;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}

.nav:hover {
  cursor: pointer;
}

/* ----------ABOUT-----------------------------------------------*/

.about__container {
  height: 100%;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5em;
  padding-left: 10em;
  padding-right: 10em;
}

.head h1 {
  font-size: 53px;
  color: #484848;
  width: 9em;
  margin: 0;
  margin-top: .5em;
}

.title__container {
  width: 25em;
  margin-right: 28em;
}

.header__link {
  width: 9em;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 7em;
  font-size: 18px;
  margin-top: 2.5em;
}

.navigation a {
  text-decoration: none;
  color: #484848;
}

.bio__container {
  display: flex;
  flex-direction: row;
  justify-Content: space-around;
  margin-top: 2em;
}

.kayak__img {
  border-radius: 50%;
  width: 20em;
  height: 20em;
  margin-left: 12em;
  margin-top: 2em;
}

.bio {
  width: 40em;
  font-size: 17px;
  margin-right: 8em;
  margin-bottom: 4.5em;
}

.button__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.bio__container-description {
  line-height: 1.3
}

.button {
  margin-top: 3em;
  margin-right: 2em;
  margin-bottom: 2em;
  transition: .4s ease;
  opacity: 1;
}

.button:hover {
  cursor: pointer;
  opacity: .5;
}

.resume {
  color: #FF6359;
  text-decoration: none;
}

/*---------WORK---------------------*/

.work__container {
  height: 100%;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: #E5E5E5;
  border-bottom-style: solid;
}

.phrase__container {
  margin: auto;
  padding-left: 2em;
  width: 18em;
  font-size: 32px;
  margin-top: 3em;
  margin-bottom: 2.5em;
}

.phrase {
  font-family: 'Roboto:300', sans-serif;
  line-height: 1.3;
}

.bold {
  font-weight: bold;
}

.work__description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__img {
  width: 40em;
  height: 25em;
  margin-bottom: 0em;
  transition: .5s ease;
  opacity: 1;
}

.project__img:hover {
  opacity: .5;
  cursor: pointer;
}

.work__description-container h2 {
  margin: 0;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 36px;
}

.project__description {
  font-size: 18px;
  color: #969696;
  margin-bottom: 0em;
  margin-top: 0em;
}

.tech {
  color: #F24949;
  margin-bottom: 6em;
  margin-top: .75em;
}

.line {
  margin-top: 0em;
}
